#nav-selector:hover #nav-selector-underline {
  width: 100%;
}

#card:hover #showBtnCart {
  display: block;
  animation: showBtnAnimation 0.5s forwards;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #e2e2e2;

  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 32px 0;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@keyframes showBtnAnimation {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}
